:root {
  --bg-color: #010f06;
  --text-color: 	#D0FFFF;
  --header-text-color: #66FFB2;
  --secondary-bg: #090909;
  --border-color: white;
  --cont-width: 1100px;
}

.chonburi-regular {
  font-family: "Chonburi", serif;
  font-weight: 400;
  font-style: normal;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}  

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Cantata One", serif;
  font-weight: 400;
  font-style: normal;
}

.main-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: var(--cont-width);
}

.p-card {
  background-color: var(--secondary-bg);
  border: 1px solid var(--border-color);
  border-radius: 10px;
  padding: 25px;
  color: var(--text-color);
  height: auto; /* keep it auto */
  line-height: 1.5;
}

h1 {
  font-size: 70px;
  color: var(--header-text-color);
}

h2 {
  font-size: 40px;
  color: #00FFC6;
}

h3 {
  font-size: 35px;
  color: var(--header-text-color);
}

p {
  font-size: 20px;
}

.header-div {
  background-color: black;
  padding: 40px 0 70px 0;
  border-bottom: 1px solid var(--border-color);
  color: var(--text-color);
}

.prof-div {
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--border-color);
  padding-bottom: 15px;
  width: 850px;
  min-width: 100px;
  justify-content: space-between;
}

.card-div {
  width: 48%;
}

.inline-div {
  display: flex;
  gap: 20px;
  color: var(--text-color);
}

.close-inline-div {
  display: flex;
  gap: 6px;
}

.prof-pic-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 130px;
  width: 130px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid var(--border-color);
}

.prof-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-div {
  margin: 50px 0 50px 0;
  width: var(--cont-width);
}

ul {
  font-size: 19px;
}

li {
  margin-top: 10px;
  margin-bottom: 10px;
}
